.header__desktop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  padding-bottom: 41px;
  padding-top: 45px;
  border-top: 1px solid #545454;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 928px) {
  .header__desktop {
    padding-top: 34px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .header__desktop {
    padding-top: 27px;
    padding-bottom: 31px;
  }
}
