.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 880px;
  width: 100%;
  color: white;
}

@media screen and (max-width: 928px) {
  .header {
    max-width: 582px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    width: 320px;
  }
}
